.social {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  a {
    transition: transform 0.15s ease-in-out;

    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }

  .npm {
    color: #cb3837;
  }

  .github {
    color: black;
    [data-mantine-color-scheme='dark'] & {
      color: #fff;
    }
  }

  .mastodon {
    color: #6364ff;
  }
}

.mantine-AppShell-navbar {
  a:link,
  a:visited {
    color: #4b5165;

    svg {
      color: #818494;
    }

    [data-mantine-color-scheme='dark'] & {
      color: #f3f3fe;
    }
  }
}
