.social {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  a {
    transition: transform 0.15s ease-in-out;

    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }

  .npm {
    color: #cb3837;
  }

  .github {
    color: black;
    [data-mantine-color-scheme='dark'] & {
      color: #fff;
    }
  }

  .mastodon {
    color: #6364ff;
  }
}

.mantine-AppShell-navbar {
  a:link,
  a:visited {
    color: #4b5165;

    svg {
      color: #818494;
    }

    [data-mantine-color-scheme='dark'] & {
      color: #f3f3fe;
    }
  }
}

.mantine-AppShell-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}
