$mantine-breakpoint-md: 62em;

.hero {
  position: relative;
  margin: calc(var(--mantine-spacing-md) * -1)
    calc((var(--mantine-spacing-md) * 2) * -1) 0;
  background-color: #11284b;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(250deg, rgba(#12072f, 0) 0%, #12072f 70%),
    // url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8&auto=format&fit=crop&w=1080&q=80);
    url('/christopher-burns-8KfCR12oeUM-unsplash.jpg');
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);

  .inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mantine-breakpoint-md) {
      flex-direction: column;
    }
  }

  .attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.25rem 0.5rem;
    background-color: rgba(#111, 0.5);
    border-radius: 0.25rem 0 0 0;
    font-size: 0.875rem;
    color: #e3e3e3;
  }

  .image {
    @media (max-width: $mantine-breakpoint-md) {
      display: none;
    }
  }

  .content {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    margin-right: calc(var(--mantine-spacing-xl) * 3);

    @media (max-width: $mantine-breakpoint-md) {
      margin-right: 0;
    }
  }

  .title {
    color: var(--mantine-color-white);
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 900;
    line-height: 1.05;
    max-width: 500px;
    font-size: 48px;

    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
      font-size: 34px;
      line-height: 1.15;
    }
  }

  .description {
    color: var(--mantine-color-white);
    opacity: 0.75;
    max-width: 500px;

    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
    }
  }

  .ctas {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;
    align-items: stretch;
  }

  .control,
  .browse {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: 22px;
    color: #fff;

    @media (max-width: $mantine-breakpoint-md) {
      width: 100%;
    }
  }
}

.typing {
  display: inline-flex;
  justify-content: flex-start;

  code {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 4px;
    border-right: 0.2em solid var(--mantine-color-magenta-5);
    white-space: nowrap;
    letter-spacing: 0;
    animation: typing 5s steps(6, end) 2s infinite,
      blink-caret 0.75s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  10% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--mantine-color-magenta-5);
  }
}
